body {
    content: '';
    background-image: url('img/img5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: gray;
    display: block;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.nav-bar {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(100, 100, 100, 0.8);
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
      float: left;
  }

  li a {
      display: block;
      color: white;
      font-size: 18px;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

  li a:hover {
      background-color: black;
  }

  .active {
      background-color: black;
  }

  .article {
      color: white;
      background-color: rgba(0,0,0,0.8);
      position: absolute;
      height: 50vh;
      width: 90vw;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .article h1 {
      text-align: center;
  }
  
  .article p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
  }